# Interdit l'exécution de scripts dans le dossier des fichiers envoyés
php_flag engine off
RemoveHandler .php .phtml .php3 .php4 .php5 .phar
<FilesMatch "\.(php|phtml|phar)$">
    Require all denied
</FilesMatch>
